<nav>
    <a href="/">Главная</a> | <a href="/contact">Контакты</a> | <a href="/FIO">Фио</a>| <a href="/info">Инфа</a>| <a href="/power">Особые Способности</a> | <a href="/lang">Знание языков</a>
</nav>